.user-avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #18162a;
  object-fit: cover;
}

.avatar-fallback {
  background: #18162a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
